@font-face {
    font-family: "SBLGreek";
    src: url("../fonts/SBLGrk.woff") format("woff"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
  
.gntwordNode:hover {
    color: #ff6d00;
    text-decoration: none;
}

.gntwordNode {
    font-family: "SBLGreek";
    font-size: 23px;
    direction: rtl;
    color: black;
}

.viewgntinfo {
    font-family: 'SBLGreek';
    font-size: 20px;
    padding-left: 1px;
    padding-right: 1px;
  }