body {
  overflow-x:hidden;
}

bnavbar {
  position: fixed;
}

#subNav_text, #subNav_result {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 50px;
  width: 100%;
  border: 0 solid;
  border-bottom: 1px solid rgba(201,201,201,1);
  color: black;
  background: rgba(247,247,247,1);
  text-align:left;
  line-height: 50px;
  vertical-align: middle;
  padding: 10px;
  padding-bottom: 0px;
}

#text {
  border-right: 2px solid rgb(180, 179, 179);
  height: 100%;
  width: 50%;
  text-align: justify;
  overflow: scroll;
  padding: 10px;
  position: fixed;
  padding-bottom: 150px;
}

#dataResult {
  height: 100%;
  width: 50%;
  text-align: left;
  position: fixed;
  float: right;
  overflow: scroll;
  padding: 10px;
  padding-bottom: 150px;

}

.verseView {
  display: block;
  padding-bottom: 10px;
}

ol {
  list-style: none; 
  counter-reset: li
}

li::before {
  content: counter(li); color: red;
  display: inline-block; 
  width: 1em; 
  margin-left: -1.5em;
  margin-right: 0.2em; 
  text-align: right; 
  direction: rtl;
}

li {
  counter-increment: li;
  display: inline-block;
}

@media (max-width: 765px) {
  #text{
    width: 100%;
    height: 50%;
  }
  #dataResult {
    width: 100%;
    height: 40%;
  }
  #result_div {
    margin-top: 400px;
    margin-left: 20px;
  }

}